.App {
  text-align: center;
}

.row-header {
  margin: 0px auto;
  padding: 0px auto;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.footer {
  background-color: #d1c4e9;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}
.jumbotron {
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  background: #9575cd;
  color: floralwhite;
}

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}

.navbar-dark {
  background-color: whitesmoke;
}

/* astuce react developper tools extension chrome */

/* couleur item active du menu */
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: rgba(189, 33, 33, 0.9);
}

/* couleur quand non active */
.navbar-dark .navbar-nav .nav-link {
  color: rgb(0, 0, 0);
}

/* couleur item quand hoover */
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(83, 83, 83, 0.75);
}

/* toggler en responsive */
.navbar-dark .navbar-toggler-icon {
  color: black;
  background-color: white;
}
